body {
	background-color: #eef5db;
	color: #517677;
	font-family: Impact, sans-serif;
}

.team {
	font-size: 40px;
}

.teamScore {
	font-size: 40px;
	color: #fc766aff;
}

.pointButtons {
	margin: 0.5rem;
	cursor: pointer;
	padding: 5px 10px;
	font-size: 20px;
	border-radius: 5px;
	width: 60px;
	height: 30px;
	background-color: #fc766aff;
	color: white;
	border: none;
	outline: none;
}

.pointButtons:hover {
	border: solid;
	border-color: #fc766aff;
}

.updateButtons {
	margin: 0.5rem;
	cursor: pointer;
	margin-bottom: 30px;
	border-radius: 5px;
	padding: 7px;
	font-size: 17px;
	background-color: #517677;
	color: white;
	border: none;
	outline: none;
	font-family: Impact, sans-serif;
	letter-spacing: 0.5px;
}

input {
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom-style: hidden;
	outline: 3px solid #517677;
	border-radius: 5px;
	font-size: 19px;
}

.updateButtons:hover {
	border: solid;
	border-color: #517677;
}

.teamname {
	margin-top: 80px;
}

.update {
	margin-top: 100px;
}
